<!DOCTYPE html>
<html lang="{{ .Lang }}">
    {{- partial "head.html" . -}}
    <body data-bs-spy="scroll"
          data-bs-target="#TableOfContents"
          data-bs-threshold="[0, 0.1, 0.5, 0.9, 1]"
          data-bs-root-margin="-25% 0px"
          tabindex="0" vocab="http://purl.org/dc/terms/">
        {{- partial "header.html" . -}}
        <div id="content">
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "script.html" . -}}
        {{- partial "search.html" . -}}
    </body>
</html>
