{{ define "main" }}

{{ if .Params.thumbnail }}
<div class="container card my-5">
  {{ if strings.HasSuffix .Params.thumbnail ".svg" }}
      <object data="{{ .Params.thumbnail | absLangURL }}" width="100%"></object>
  {{ else }}
      <img src="{{ .Params.thumbnail | absLangURL }}" width="100%">
  {{ end }}
</div>
{{ end }}

<div class="container dp-flex row justify-content-center mx-auto">

  <article class="col col-lg-8 col-md-12 col-sm-12">
    <header class="border-bottom border-dark my-4">
      <h1 class="display-3 text-left my-4">{{ .Title }}</h1>
    </header>
    <section>
      {{ .Content }}
    </section>
  </article>

</div>
{{ end }}
