{{ define "main" }}
{{ $has_toc := (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") }}

{{ partial "header_thumb.html" . }}

<div class="container-fluid mx-0 px-0">

<div class="d-flex row mx-auto justify-content-between">
  <aside class="d-none d-lg-flex col-lg-4 col-xl-3 flex-column my-3">
    <div id="sidebar-left" class="sidebar">
      {{ partial "sidebar-nav.html" .}}
    </div>
  </aside>

  {{ if eq .Params.type "large" }}
  <div class="column col-12 col-lg-8 col-xl-9 my-3 main-column">
  {{ else }}
  <div class="column col-12 col-lg-8 col-xl-6 my-3 main-column">
  {{ end }}
    <section class="border-secondary">
      {{ partial "breadcrumb.html" . }}
    </section>
  <article class="bg-white rounded expanded-bg mb-4 shadow-sm p-3" id="post-content">
    <header class="border-secondary my-0 pb-4 pt-2 align-middle">
      <h1 class="entry-title my-3" property="title">{{ .Title | strings.FirstUpper | safeHTML }}</h1>
    </header>
    <section class="meta">
      {{ partial "metadata.html" . }}
    </section>
    <div id="content-body" class="post-content border-secondary libertine clearfix">
      <section>
        {{ .Content }}
      </section>
    </div>
  </article>

  {{ partial "social.html" . }}
  {{ partial "prev-next.html" . }}
  {{ partial "network_graph.html" . }}
  {{ partial "related_posts.html" . }}

  {{- if not .Params.noauthor }}
  {{ partial "authors.html"  . }}
  {{- end -}}

  {{ partial "comments.html" . }}
  </div>

  <aside class="d-none d-xl-flex col-xl-3 flex-column my-3">
    <div id="sidebar-right" class="sidebar">
      {{ if $has_toc }}
          {{ partial "toc.html" . }}
      {{ end }}
    </div>
  </aside>
</div>
</div>

{{ end }}
