{{ $icon := .Get "icon" }}
{{ $url := .Get "url" }}
{{ $data := .Get "data" }}
{{ if $icon }}
  {{ if $url }}
  <a role="button" class="btn btn-dark {{ .Get "class" }}" href="{{ .Get "url" }}" {{ print $data | safeHTMLAttr }}><i class="fas fa-{{ print $icon | safeCSS }}"></i><span class="px-1">{{ .Get "label" }}</span></a>
  {{ else }}
  <button class="btn btn-dark {{ .Get "class" }}" {{ print $data | safeHTMLAttr }}><i class="fas fa-{{ print $icon | safeCSS }}"></i><span class="px-1">{{ .Get "label" }}</span></button>
  {{ end }}
{{ else }}
<a role="button" class="btn btn-dark {{ .Get "class" }}" href="{{ .Get "url" }}" {{ print $data | safeHTMLAttr }}>{{ .Get "label" }}</a>
{{ end }}
