{{ if .IsNamedParams }}
{{ $seed := "bar" }}
{{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
<figure style="position: relative; overflow: visible;" id="{{ print $random }}">
<button class="open-lightbox-button" onclick="lightbox({{ print $random }})">
  <i class="fas fa-expand-alt open-lightbox-icon"></i>
</button>
<div class="img-comp-container">
  <div class="img-comp-under">
    <span class="label label-after">{{ i18n "after" }}</span>
    <img src="{{ .Get "after" }}" alt="{{ i18n "after" }}">
  </div>
  <div class="img-comp-over">
    <span class="label label-before">{{ i18n "before" }}</span>
    <img src="{{ .Get "before" }}" alt="{{ i18n "before" }}">
  </div>
</div>

{{ if .Inner }}
<figcaption>
<p>{{ .Inner | markdownify }}</p>
</figcaption>
{{ end}}

</figure>
{{ end }}
