{{- $scratch := .Scratch -}}
{{- $id := printf "tabs-%s" (md5 .Position) -}}

{{/* Render children (they append to Scratch) */}}
{{- .Inner -}}

{{- $tabs := $scratch.Get "tabs" | default (slice) -}}

<ul class="nav nav-tabs full-width" id="{{ $id }}" role="tablist">
  {{- range $i, $tab := $tabs }}
    {{- $tabId := printf "%s-tab-%d" $id $i -}}
    {{- $paneId := printf "%s-pane-%d" $id $i -}}
    <li class="nav-item" role="presentation">
      <button
        class="nav-link {{ if eq $i 0 }}active{{ end }}"
        data-bs-toggle="tab"
        data-bs-target="#{{ $paneId }}"
        id="{{ $tabId }}"
        type="button"
        role="tab"
        aria-controls="{{ $paneId }}"
        aria-selected="{{ if eq $i 0 }}true{{ else }}false{{ end }}">
        {{ $tab.title }}
      </button>
    </li>
  {{- end }}
</ul>

<div class="tab-content border border-top-0 mb-3 py-2 px-3" style="border-color: --bs-border-color">
  {{- range $i, $tab := $tabs }}
    {{- $tabId := printf "%s-tab-%d" $id $i -}}
    {{- $paneId := printf "%s-pane-%d" $id $i -}}
    <div
      class="tab-pane fade {{ if eq $i 0 }}show active{{ end }}"
      id="{{ $paneId }}"
      role="tabpanel"
      aria-labelledby="{{ $tabId }}">
      {{ $tab.content | safeHTML }}
    </div>
  {{- end }}
</div>

{{/* Cleanup to avoid leakage */}}
{{- $scratch.Delete "tabs" -}}
