body { background-color: #f2f2f2!important; }

html, body {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

#content { min-height: calc(100vh - 154px); }

img {
  max-width: 100%;
}

/* Menu items tweaks */

.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

.navbar-brand img {
  height: 2.5rem;
  width: auto;
}

@media (max-width: 1200px)
{
  .navbar-collapse {
    position: absolute;
    top: 2.5rem;
  }
}

.navbar .container-fluid {
  align-content: center;
}

.navbar-expand-xl .navbar-nav,
#navbarNav {
  align-items: center;
}

.menu-item.nav-item {
  margin: 0 0 0 0.5rem;
  padding: 0;
}

.sys-icon {
  display: flex!important;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem!important;
  margin-right: 0.75rem;
  align-items: center;
  font-style: normal;
  font-weight: 400!important;
}

.sys-icon:before {
  line-height: 1.75rem;
  height: 1.75rem;
  display: block;
}

.menu-item a.nav-link {
  padding: 0.5rem 0.75rem!important;
  line-height: 1.5rem;
  align-items: center;
  flex-direction: row;
  display: flex;
  text-overflow: ellipsis;
}

.menu-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 2.25rem;
}

.round-menu-button {
  flex-direction: row;
  border-radius: 50%!important;
  background: #333!important;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #ddd;
  font-size: 1rem;
  border: 1px solid transparent;
  vertical-align: middle;
  align-items: center;
  padding: 0!important;
  box-sizing: content-box;
}

@media (min-width: 768px)
{
  .round-menu-button {
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
  }
}

.round-menu-button i,
.round-menu-button i::before
{
  margin: 0!important;
  padding: 0!important;
  text-align: center;
  width: 2.5rem;
}

.round-menu-button:hover {
  border-color: #ddd;
}

article { min-width: 300px; }

.active { font-weight: bold; }
.navbar-nav .active { color: rgba(255, 255, 255, 0.75)!important; }

.nav-item { padding: 0 1rem; }

.dropdown-muted::after {
  content: "";
}

#content {
  text-rendering : geometricprecision;
  font-kerning: normal;
  hyphens: auto;
}

p { text-align: justify; }

figure {
  display: block;
  max-width: 100%;
}

figure figcaption {
  margin-top: 0.5rem;
  font-style: italic;
  text-align: left;
}

figure img {
  text-align: center!important;
  margin: 0 auto;
}

.image-fit {
  object-fit: cover;
  flex: 1;
  flex-basis: min-content;
  min-width: 300px;
  min-height: 300px;
}

.bg-image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.no-hyphenation { hyphens: none; }
.text-left { text-align: left; }
.text-center p { text-align: center; }

.heading .header-link { opacity: 0; }
.heading:hover .header-link { opacity: 1; }

.icon-circle {
  padding: 1rem;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: 1px solid #f4f4f4;
  height: 32px;
  width: 32px;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-sizing: content-box;
}

#sidebar {
	position: sticky;
	top: 80px;
	align-self: start;
}

#TableOfContents ul {
  list-style: none;
  display: list-item;
  margin: 0;
  padding: 0;
}

#TableOfContents a {
  text-decoration: none;
  color: #6c757d; /* Bootstrap "muted" text color */
}

#TableOfContents ul li ul {
  margin: 0;
  padding: 0 0 0 2.5rem;
}

#TableOfContents ul li ul li {
  list-style:square;
}

#TableOfContents li.active a {
  font-weight: 600;
  color: black!important;
}

ul.section-nav, ol.section-nav { padding-left: 0; }
.section-nav li ul, .section-nav li ol { padding-left: 1.5rem; }
.list-button {
  padding: 0;
  margin: 0;
  vertical-align: top;
}

/* Bootstrap hacks */
.links-dark li,
.links-dark .btn,
.links-dark a {
  color: #212529!important;
}

.links-secondary li,
.links-secondary .btn,
.links-secondary a {
  color: #6c757d;
}

div.mermaid {
  margin: 1rem auto;
  width: fit-content;
}

.divider {
  display:inline-block;
  margin: 2rem auto;
  width:100%;
  height: 20px;
  position:relative;
  border: none;
}

.divider:after {
    content:'';
    display:block;
    margin:-20px auto 0;
    width:100%;
    height:20px;
    border-radius:125px / 25px;
    box-shadow:0 0 10px black;
  }
