body { background-color: #f2f2f2!important; }

html, body {
  scroll-padding-top: 75px;
  scroll-behavior: smooth;
}

.nav-item { padding: 0 1rem; }

#content {
  text-align: justify;
  text-rendering : geometricprecision;
  font-kerning: normal;
  hyphens: auto;
  padding-top: 75px;
}

.image-fit {
  object-fit: cover;
  flex: 1;
  flex-basis: min-content;
}

.bg-image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.no-hyphenation { hyphens: none; }
.text-left { text-align: left; }
.post-title { text-align: left; }

.icon-circle {
  padding: 1rem;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: 1px solid #f4f4f4;
  height: 32px;
  width: 32px;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-sizing: content-box;
}

#toc {
	position: sticky;
	top: calc(75px + var(--bs-card-spacer-y));
	align-self: start;
}

#TableOfContents ul {
  list-style: none;
  display: list-item;
  margin: 0;
  padding: 0;
}

#TableOfContents a {
  text-decoration: none;
  color: #6c757d; /* Bootstrap "muted" text color */
}

#TableOfContents ul li ul {
  margin: 0;
  padding: 0 0 0 1rem;
}

#TableOfContents ul li ul li {
  list-style:square;
}

#TableOfContents li.active a {
  font-weight: 600;
  color: black!important;
}

div.mermaid {
  margin: 1rem auto;
  width: fit-content;
}

.divider {
  display:inline-block;
  margin: 2rem auto;
  width:100%;
  height: 20px;
  position:relative;
  border: none;
}

.divider:after {
    content:'';
    display:block;
    margin:-20px auto 0;
    width:100%;
    height:20px;
    border-radius:125px / 25px;
    box-shadow:0 0 10px black;
  }


/* Image comparison slider, aka fifty-fifty */
/* From https://www.w3schools.com/howto/howto_js_image_comparison.asp */
.img-comp-container {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 16px 0px rgba(56, 86, 122, 0.6);
  overflow: hidden;
}

.img-comp-container img {
  display: block;
  width: 100%;
  height: auto;

  object-fit: cover;
  pointer-events: none;
  user-select: none;
  position: relative;
}

.img-comp-over {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}

.img-comp-under {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.comp-cursor {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.comp-cursor-button {
  /*set the appearance of the slider:*/
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  font-size: 18px;
  font-weight: thin;
}

.comp-cursor-line {
  width: 2px;
  flex-grow: 1;
  background-color: #fff;
}

.img-comp-container .label {
  position: absolute;
  top: 1rem;
  z-index: 1;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  text-align: center;
  letter-spacing: 1px;
  user-select: none;
  opacity: 0;
  transition: 0.25s cubic-bezier(.68,.26,.58,1.22);
}

.img-comp-container:hover .label {
  opacity: 1;
}

.img-comp-container .label.label-before {
  left: 1rem;
}

.img-comp-container .label.label-after {
  right: 1rem;
}
