{{ define "main" }}

{{ if .Params.thumbnail }}
<div class="container card my-5">
  {{ if strings.HasSuffix .Params.thumbnail ".svg" }}
      <object data="{{ .Params.thumbnail | absLangURL }}" width="100%"></object>
  {{ else }}
      <img src="{{ .Params.thumbnail | absLangURL }}" width="100%">
  {{ end }}
</div>
{{ end }}

<div class="container-fluid dp-flex row justify-content-center">

  {{ partial "toc.html" . }}

  <article class="col-sm-6">
    <header>
      <h1 class="display-3 post-title">{{ .Title }}</h1>
      <hr>
      {{ partial "metadata.html" . }}
      <hr>
    </header>
    <section>
      {{ .Content }}
    </section>
  </article>

</div>
{{ end }}
