body {
  background-color: #f2f2f2 !important;
}

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

a {
  text-decoration: none;
  text-wrap: wrap;
}

abbr[title],
a:hover {
  text-decoration-thickness: 1px;
  text-underline-offset: 3px !important;
  text-underline-position: below;
  text-decoration: underline;
}

a:hover {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

#content {
  min-height: calc(100vh - 154px);
}


/* Menu items tweaks */

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.navbar-brand img {
  height: 2.5rem;
  width: auto;
}

@media (max-width: 1200px) {
  .navbar-collapse {
    position: absolute;
    top: 2.5rem;
  }
}

.navbar .container-fluid {
  align-content: center;
}

.navbar-expand-xl .navbar-nav,
#navbarNav {
  align-items: center;
}

.menu-item.nav-item {
  margin: 0 0 0 0.5rem;
  padding: 0;
}

.sys-icon {
  display: flex !important;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem !important;
  margin-right: 0.75rem;
  align-items: center;
  font-style: normal;
}

.sys-icon:before {
  line-height: 1.75rem;
  height: 1.75rem;
  display: block;
}

.menu-item a.nav-link {
  padding: 0.5rem 0.75rem !important;
  line-height: 1.5rem;
  align-items: center;
  flex-direction: row;
  display: flex;
  text-overflow: ellipsis;
}

.menu-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 2.25rem;
}

.round-menu-button {
  flex-direction: row;
  border-radius: 50% !important;
  background: #333 !important;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #ddd;
  font-size: 1rem;
  border: 1px solid transparent;
  vertical-align: middle;
  align-items: center;
  padding: 0 !important;
  box-sizing: content-box;
}

@media (min-width: 768px) {
  .round-menu-button {
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
  }
}

.round-menu-button i,
.round-menu-button i::before {
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
  width: 2.5rem;
}

.round-menu-button:hover {
  border-color: #ddd;
}

article {
  min-width: 300px;
}

.active {
  font-weight: bold;
}

.navbar-nav .active {
  color: rgba(255, 255, 255, 0.75) !important;
}

.nav-item {
  padding: 0 1rem;
}

.dropdown-muted::after {
  content: "";
}

#content {
  text-rendering: geometricprecision;
  font-kerning: normal;
  hyphens: auto;
}

.expanded-bg {}

p {
  text-align: justify;
}

.no-hyphenation {
  hyphens: none;
}

.text-left {
  text-align: left;
}

.text-center p {
  text-align: center;
}

.heading .header-link {
  opacity: 0;
}

.heading:hover .header-link {
  opacity: 1;
}

.heading .header-link {
  opacity: 0;
}

.heading:hover .header-link {
  opacity: 1;
}

.heading {
  position: relative;
}

.heading .header-link {
  position: absolute;
  left: -0.5em;
  top: 0;
}

.header-filet {
  position: relative;
  height: 0.32em;
  flex-grow: 1;
  border-color: var(--bs-secondary-subtle);
  border-width: 0;
  border-top-width: 1px;
  border-style: solid;
  display: inline-flex;
  align-self: center;
  margin-left: 0.33rem;
  vertical-align: top;
  align-self: end;
}

h2 {
  width: auto;
  display: flex;
}

.icon-circle {
  padding: 1rem;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: 1px solid #f4f4f4;
  height: 32px;
  width: 32px;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-sizing: content-box;
}

.sidebar {
  overflow: hidden;
  padding: 0 1rem;
  border-width: 1px 0 1px 0;
  max-height: calc(100vh - 5.5rem);
  overflow-y: auto;
  overflow-x: visible;
  position: sticky;
  top: 4.5rem;
  transition: all 0.3s ease-in-out;
}

html.move-up .sidebar {
  transition: all 0.3s ease-in-out;
  top: 1rem;
  max-height: calc(100vh - 2rem);
}

.sidebar-h {
  width: 100%;
  margin: 0 0 1rem 0;
  font-weight: 400;
  font-size: 1em;
}

summary.sidebar-h {
  margin-bottom: 0;
  padding-left: 0.15rem;
}

#breadcrumb {
  margin: 0;
}

#TableOfContents {
  margin-left: -1rem;
}

#TableOfContents ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

#TableOfContents a {
  text-decoration: none;
  color: rgb(var(--bs-secondary-rgb));
  border-left: 2px solid transparent;
  width: 100%;
  display: inline-block;
}

#TableOfContents ol li a {
  padding-left: 1rem;
}

#TableOfContents ol li ol li a {
  padding-left: 1.5rem;
}

#TableOfContents ol li ol {
  margin-left: 1rem;
}

#TableOfContents li.active a,
#TableOfContents a.active {
  color: rgb(var(--bs-dark-rgb));
  border-color: rgb(var(--bs-dark-rgb));
  font-weight: normal !important;
}

nav#sections {
  margin-left: -1rem !important;
}

nav#sections ul,
details#toc ul {
  margin-left: -0.25rem !important;
}

ul.section-nav,
ol.section-nav {
  padding-left: 0;
}

.section-nav li ul,
.section-nav li ol {
  padding-left: 1.25rem;
}

.list-button {
  padding: 0;
  margin: 0;
  vertical-align: top;
}


/* Bootstrap hacks */
.links-dark li,
.links-dark .btn,
.links-dark a {
  color: #212529 !important;
}

.links-secondary li,
.links-secondary .btn,
.links-secondary a {
  color: #6c757d;
}

pre.mermaid {
  text-align: center;
}

pre.mermaid img {
  max-width: none !important;
  width: auto !important;
}

.divider,
.divider-reverse {
  display: inline-block;
  margin: 2rem auto;
  width: 100%;
  height: 20px;
  position: relative;
  border: none;
}

.divider:after {
  content: '';
  display: block;
  margin: -20px auto 0;
  width: 100%;
  height: 20px;
  border-radius: 125px / 25px;
  box-shadow: 0 0 10px black;
}

.divider-reverse:before {
  content: '';
  display: block;
  margin: 20px auto 0;
  width: 100%;
  height: 20px;
  border-radius: 250px / 25px;
  box-shadow: 0 0 10px black;
}

/* Code blocks */
.highlight {
  width: 100%;
  display: grid;
}

.highlight pre {
  margin: 0;
  padding: 1rem 0;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.fa-fw {
  width: 1em;
  height: 1em;
  line-height: 1em;
}

#home-page figure {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

#toc_container,
.colophon,
#content-body p,
#content-body h3,
#content-body h4,
#content-body dl,
#content-body pre.graph,
#content-body audio,
#content-body figure.narrow-width,
#content-body table,
#content-body blockquote {
  max-width: 36rem;
  width: auto;
  box-sizing: border-box;
}

#content-body blockquote {
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-left: 0.25rem solid #ddd;
  font-size: 1.1em;
}

blockquote::before {
  content: "“";
  float: left;
  font-size: 4rem;
  line-height: 1rem;
  margin-right: 0.5rem;
  opacity: 0.5;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

#content-body blockquote p:last-child {
  margin-bottom: 0;
}


#content-body ul,
#content-body ol {
  max-width: 35rem;
  /* account for margins and padding */
  width: auto;
  box-sizing: border-box;
}


.full-width,
#content-body figure.full-width,
#content-body table.full-width {
  max-width: 100% !important;
}

a[href^="#fn:"],
a[href^="#fnref:"] {
  text-decoration: none;
  font-family: monospace;
}

a[href^="#fn:"]:before {
  content: '['
}

a[href^="#fn:"]:after {
  content: ']'
}


.slideshow {
  position: relative;
  aspect-ratio: 16 / 9;
}

.slideshow .slide {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  aspect-ratio: 16 / 9;
  right: -100%;
  display: none;
}

.slideshow .slide.visible {
  display: block;
  animation: 3s ease-in 1s infinite reverse both running slidein;
}

@keyframes slidein {
  0% {
    right: -100%;
    display: none;
  }

  100% {
    right: 0;
    display: block;
  }
}

.slideshow .slide img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.slideshow .previous,
.slideshow .next {
  height: 100%;
  width: 15%;
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer;
  opacity: 0.5;
}

.slideshow .previous:hover,
.slideshow .next:hover {
  opacity: 1;
}

.slideshow .previous {
  left: 0;
}

.slideshow .next {
  right: 0;
}



nav#sections ul,
details#toc ul {
  margin-left: -0.25rem !important;
}

ul.section-nav,
ol.section-nav {
  padding-left: 0;
}

.section-nav li ul,
.section-nav li ol {
  padding-left: 1.25rem;
}

.list-button {
  padding: 0;
  margin: 0;
  vertical-align: top;
}

/* Buttont toggle */
.btn {
  position: relative;
}

.btn-toggle {
  background-color: transparent;
  padding-left: 1.5rem !important;
}

.btn-toggle::before,
details>summary::before {
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  vertical-align: baseline;
  transition: transform .35s ease;
  transform-origin: 43% 43%;
  translate: 2px 3px;
  vertical-align: top;
  position: absolute;
  left: 0;
  top: 0;
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.collapse.btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,0.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.item.btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,0.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='m 4,8 10,0'/%3e%3c/svg%3e");
  translate: 0 4px;
}

.collapse.sibling.btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.item.sibling.btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='m 4,8 10,0'/%3e%3c/svg%3e");
  translate: 0 4px;
}

.section-list::before {
  width: 1.5rem;
  line-height: 3.2rem;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

li.hover-link a.hover-link {
  visibility: hidden;
}

li.hover-link:hover>a.hover-link {
  visibility: visible;
}

details,
summary {
  transition: all .35s ease;
}

details>summary {
  overflow: visible;
  list-style: outside;
}

.card details>summary {
  list-style: inside;
}

details>summary::marker {
  width: 1.5rem;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M5 15l6-6-6-6'/%3e%3c/svg%3e");
}

details[open]>summary::marker {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='m 1,8 6,6 6,-6'/%3e%3c/svg%3e");
}

.speech-bubble {
  --arrow-w: 0.5em;
  --arrow-h: 1em;
  --bubble-corners: 0;
  --w: 36em;
  --border-size: 1px;
  --text-color: black;
  --bubble-color: white;
  --border-color: black;
}

.speech-bubble {
  text-align: center;
  color: var(--text-color);
  background: var(--bubble-color);
  padding: 1em;
  position: relative;
  border-radius: var(--bubble-corners);
  max-width: var(--w);
  box-shadow: 0 0 0 var(--border-size) var(--border-color);
}

.speech-bubble.round {
  --bubble-corners: 1em;
}

.speech-bubble.circle {
  --bubble-corners: 100%;
  padding: 2em;
}

.speech-bubble:before,
.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: calc(-1 * var(--arrow-h) * 2 + 0.5px);
  left: 50%;
  border-style: solid;
  border-width: var(--arrow-h) var(--arrow-w);
  border-color: var(--bubble-color) transparent transparent;
}

.speech-bubble:before {
  border-width: calc(var(--arrow-h) + var(--border-size)) calc(var(--arrow-w) + var(--border-size));
  border-color: var(--border-color) transparent transparent;
  bottom: calc(-1 * var(--arrow-h) * 2 - 2.5*var(--border-size));
  left: calc(50% - var(--border-size));
}

.speech-bubble.t:after {
  border-color: transparent transparent var(--bubble-color);
  bottom: auto;
  top: calc(-1 * var(--arrow-h) * 2 + 0.5px);
}

.speech-bubble.t:before {
  border-width: calc(var(--arrow-h) + var(--border-size)) calc(var(--arrow-w) + var(--border-size));
  border-color: transparent transparent var(--border-color);
  bottom: auto;
  top: calc(-1 * var(--arrow-h) * 2 - 2.5*var(--border-size));
}

.speech-bubble.l:after {
  border-color: transparent var(--bubble-color) transparent transparent;
  bottom: auto;
  border-width: var(--arrow-w) var(--arrow-h);
  top: calc(50% - var(--arrow-w));
  left: calc(-1 * var(--arrow-h) * 2 + 0.5px);
}

.speech-bubble.l:before {
  border-width: calc(var(--arrow-w) + var(--border-size)) calc(var(--arrow-h) + var(--border-size));
  border-color: transparent var(--border-color) transparent transparent;
  bottom: auto;
  top: calc(50% - var(--arrow-w) - var(--border-size));
  left: calc(-1 * var(--arrow-h) * 2 - 2.5*var(--border-size));
}

.speech-bubble.r:after {
  border-color: transparent transparent transparent var(--bubble-color);
  bottom: auto;
  left: auto;
  border-width: var(--arrow-w) var(--arrow-h);
  top: calc(50% - var(--arrow-w));
  right: calc(-1 * var(--arrow-h) * 2 + 0.5px);
}

.speech-bubble.r:before {
  border-width: calc(var(--arrow-w) + var(--border-size)) calc(var(--arrow-h) + var(--border-size));
  border-color: transparent transparent transparent var(--border-color);
  bottom: auto;
  left: auto;
  top: calc(50% - var(--arrow-w) - var(--border-size));
  right: calc(-1 * var(--arrow-h) * 2 - 2.5*var(--border-size));
}

.square-badge {
  padding: 0;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
}


a[href^="#fn:"]:before { content: '[' }
a[href^="#fn:"]:after { content: ']' }
a[href^="#fn:"] {
  -webkit-font-feature-settings: 'tnum';
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  font-variant-numeric: tabular-nums;
  text-decoration: none;
}

.sidenote {
  float: right;
  clear: right;
  position: absolute;
  padding-left: 1.5rem;
  text-align: left;
}

.sidenote p {
  color: rgb(76, 76, 86);
  margin: 0;
  text-align: left;
  hyphens: none;
}

.sidenote-number {
  color: rgb(76, 76, 86);
  float: left;
  margin-right: 0.25rem;
  clear: left;
  -webkit-font-feature-settings: 'tnum';
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  font-variant-numeric: tabular-nums;
  text-decoration: none;
}
