<div class="bg-dark">
  <div class="container">
    <footer class="py-3">
      <div class="d-flex flex-column flex-sm-row justify-content-between">
        <p class="text-white my-0">{{ .Site.Copyright }}</p>
        <ul class="list-unstyled d-flex my-0">
          <li class="ms-3"><a class="text-white" href="https://www.instagram.com/photo.aurelienpierre/" title="instagram"><i class="fab fa-instagram"></i></a></li>
          <li class="ms-3"><a class="text-white" href="/" title="twitter"><i class="fab fa-twitter"></i></a></li>
          <li class="ms-3"><a class="text-white" href="https://www.youtube.com/channel/UCmsSn3fujI81EKEr4NLxrcg" title="youtube"><i class="fab fa-youtube" data="fa:youtube"></i></a></li>
        </ul>
      </div>
    </footer>
  </div>
</div>
