{{- $src := index (split .src "#") 0 -}}
{{- $page := .Page }}

{{- $image := "" -}}
{{- if strings.HasPrefix $src "http" -}}
  {{- $image = resources.GetRemote $src -}}
{{- else -}}
  {{- $image = resources.Get $src -}}
  {{- if not $image -}}
    {{- $image = .Page.Resources.Get $src -}}
  {{- end -}}
  {{- if not $image -}}
    {{- $image = .Resources.Get $src -}}
  {{- end -}}
  {{- if not $image -}}
    {{ $path := (strings.TrimPrefix (print "./" .Page.File) $src) }}
    {{- $image = .Page.Resources.Get $path -}}
  {{- end }}
  {{- if and (not $image) .Page.File -}}
    {{- $path := path.Join .Page.File.Dir (strings.TrimPrefix "." $src) -}}
    {{- $image = resources.Get $path -}}
  {{- end -}}
{{- end -}}

{{- if not $image }}
  {{- warnf "Resource %q not found from page %q." $src $page.File.Path -}}
{{- else -}}
  {{- return $image -}}
{{- end -}}}
