<nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-xl autohide px-3 px-md-4 px-lg-6">
  <div class="container-fluid box-border px-0" style="position: relative;">

    <div class="d-flex align-items-center">
      <button class="navbar-toggler round-menu-button me-3 d-flex d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <a class="navbar-brand mx-0 my-0 py-0" href="{{ .Site.BaseURL | relLangURL }}">
        <img src="/logo.png" height="34" alt="Ansel">
      </a>
    </div>

    <div class="collapse navbar-collapse ms-2 navbar-dark bg-dark" id="navbarNav">
      <ul class="navbar-nav navbar-dark">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
          {{ $active := in $currentPage.RelPermalink .URL }}
          <li class="nav-item md-rounded menu-item">
            <a class="nav-link {{ if $active }}active{{ end }}" href="{{ .URL | relLangURL }}" {{ if $active }} aria-current="page" {{ end }}>
            {{ if .Pre }}
              <div class="menu-icon">
                {{ printf "<i class=\"%s sys-icon\"></i>" .Pre | safeHTML }}
              </div>
            {{ end }}
            <div class="menu-label">
              {{ i18n .Identifier | default .Name }}
            </div>
            </a>
          </li>
        {{ end }}
      </ul>
    </div>

    <div class="d-flex align-items-center">
      <button class="d-flex d-lg-none round-menu-button justify-content-end align-self-center ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvaSearch" title="Open research sidebar">
        <i class="fas fa-search px-0 mx-0"></i>
      </button>

      <button class="d-flex d-lg-none round-menu-button justify-content-end align-self-center ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav" aria-controls="offcanvasNav" title="Open navigation sidebar">
        <i class="fas fa-stream px-0 mx-0"></i>
      </button>

      <div class="dropdown">
        <button class="d-flex round-menu-button justify-content-end align-self-center ms-2" data-bs-toggle="dropdown" aria-expanded="false" type="button" data-bs-target="#langNav" aria-controls="langNav" aria-label="Open languages">
          <i class="fas fa-language px-0 mx-0"></i>
        </button>
        <ul id="langNav" class="dropdown-menu bg-dark dropdown-menu-end">
          <li class="dropdown-item active">{{ .Language.LanguageName }}</li>
          {{ range .Translations }}
          <li class="dropdown-item btn-sm">
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</nav>
