<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.min.css?ver=1.2.8">
<link rel="stylesheet" type="text/css" href="/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" type="text/css" href="/fontawesome/css/solid.min.css">
<link rel="stylesheet" type="text/css" href="/fontawesome/css/brands.min.css">

<link rel="sitemap" href="/sitemap.xml" />

{{ $title := "" }}
{{ if .IsHome }}
{{ $title = .Site.Title }}
{{ else }}
{{ $title = print .Site.Title " | " .Title }}
{{ end }}
<title>{{ $title }}</title>

<meta name="author" content="{{ index .Site.Author "name" }}"/>

{{ $description := "" }}
{{ if .Params.description }}
{{ $description = .Params.description | safeHTML }}
{{ else if .Summary }}
{{ $description = .Summary| safeHTML }}
{{ else }}
{{ $description = .Title | safeHTML }}
{{ end }}

<meta name="description" content="{{ $description }}">
<meta name="robots" content="index, follow"/>
<meta name="copyright" content="{{ .Site.Copyright }}"/>

{{ if .Params.tags }}
<meta name="keywords" content="{{ delimit .Params.tags ", " }}">
{{ end }}

{{ if .IsTranslated }}
  {{ range .AllTranslations }}
  <link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Lang }}" title="{{ .Language.LanguageName }}"/>
  {{ end }}
</ul>
{{ end }}

{{ $href := print (relLangURL .RelPermalink)}}

{{ if .IsPage }}
<link rel="canonical" href="{{ $href }}" >
{{ end }}

<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title | safeHTML }}" />
<meta property="og:url" content="{{ $href | absLangURL }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

{{ if .Params.thumbnail }}
<meta property="og:image" content="{{ .Params.thumbnail | relLangURL}}" />
{{ end }}
<meta property="og:description" content="{{ $description }}">

<meta property="article:author" content="{{ index .Site.Author "url" }}">
<meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02" }}">

{{ if .Lastmod }}
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02" }}">
{{ end }}

{{ range .Params.tags }}
<meta property="article:tag" content="{{ . }}" />
{{ end }}

<meta property="article:section" content="{{ .Section }}">

<link rel="manifest" href="/manifest.webmanifest">
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="Ansel" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/sw.js');
};
</script>
</head>
