<nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-lg">
  <div class="container container-fluid">
      <a class="navbar-brand mb-0 h1" href="{{ .Site.BaseURL | relLangURL }}">
        <img src="/favicon.svg" alt="Ansel" width="32" height="32" class="d-inline-block align-text-top">
        {{ .Site.Title }}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav navbar-dark">
          {{- $currentPage := . -}}
          {{ range .Site.Menus.main -}}
            {{ $active := in $currentPage.RelPermalink .URL }}
            <li class="nav-item mx-0 px-0">
              <a class="nav-link {{ if $active }}active{{ end }}" href="{{ .URL | relLangURL }}" {{ if $active }} aria-current="page" {{ end }}>
              {{ if .Pre }}
              {{ printf "<i class=\"%s\"></i> " .Pre | safeHTML }}
              {{ end }}
              {{ i18n .Identifier | default .Name }}
              </a>
            </li>
          {{ end }}
          <li class="nav-item mx-0 px-0 dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-language"></i>
                {{ .Language.LanguageName }}
              </a>
              {{ if .IsTranslated }}
              <ul class="dropdown-menu dropdown-menu-bottom bg-dark">
                {{ range .Translations }}
                <li class="dropdown-item btn-sm">
                  <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                </li>
                {{ end }}
              </ul>
              {{ end }}
          </li>
        </ul>
      </div>
  </div>
</nav>
