{{ if .IsTranslated }}
—  <i class="fas fa-language align-middle" style="font-size: 1.5rem;"></i>
<div class="btn-group">
  <button type="button" class="btn btn-sm btn-outline-dark dropdown-toggle align-middle mx-1" data-bs-toggle="dropdown" aria-expanded="false">
    {{ .Language.LanguageName }}
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><h6 class="dropdown-header">Languages</h6></li>
    {{ range .Translations }}
    <li class="dropdown-item btn-sm">
      <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
