<i class="fas fa-calendar align-middle"></i>
<time datetime="{{ .PublishDate.Format "2006-01-02" }}" title="Publication date">{{ .PublishDate | time.Format ":date_long" }}</time>

{{ if .Lastmod }}
— <i class="fas fa-sync-alt align-middle"></i>
<time datetime="{{ .Lastmod.Format "2006-01-02" }}" title="Last modification date">{{ .Lastmod | time.Format ":date_long" }}</time>
{{ end }}

{{ with .Keywords }}
— <i class="fas fa-tags align-middle"></i>
{{ range . }}
{{ $href := print (absLangURL "tags/") (urlize .) }}
<a class="btn btn-sm btn-outline-dark" href="{{ $href }}">{{ . }}</a>
{{ end }}
{{ end }}
