{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}


{{ $dateTime := .PublishDate.Format "2006-01-02" }}
<i data-feather="calendar" class="align-middle"></i>
<time datetime="{{ $dateTime }}" title="Publication date">{{ .PublishDate.Format $dateFormat }}</time>

{{ if .Lastmod }}
{{ $dateTime := .Lastmod.Format "2006-01-02" }}
— <i data-feather="refresh-cw" class="align-middle"></i>
<time datetime="{{ $dateTime }}" title="Last modification date">{{ .Lastmod.Format $dateFormat }}</time>
{{ end }}

{{ with .Params.tags }}
— <i data-feather="tag" class="align-middle"></i>
{{ range . }}
{{ $href := print (absLangURL "tags/") (urlize .) }}
<a class="btn btn-sm btn-outline-dark" href="{{ $href }}">{{ . }}</a>
{{ end }}
{{ end }}
