{{- template "nav-children" (dict "Section" .top "CurrentPage" .current "isDropdown" false) -}}

{{- define "nav-children" -}}{{- /* (dict "Section" .Section "CurrentPage" .CurrentPage) */ -}}
{{ $current := or (.CurrentPage.IsAncestor .Section) (.CurrentPage.IsDescendant .Section) }}

<ul {{if .isDropdown }}class="multi-collapse collapse {{ if $current }}show{{ end }}" id="collapsible-{{ print .collapseID }}"{{ else }}class="px-0"{{ end }}>
   {{- range .Section.Pages -}}
   {{ if .IsSection }}
    {{ $seed := "foo" }}
    {{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
   <li class="dropdown list-unstyled">
    {{ template "nav-link" (dict "Page" . "CurrentPage" $.CurrentPage "isParent" true "collapseID" $random) }}
    {{ template "nav-children" (dict "Section" . "CurrentPage" $.CurrentPage "isDropdown" true "collapseID" $random) }}
   </li>
   {{ else if and .IsPage .Content }}
   <li class="list-unstyled">
   {{ template "nav-link" (dict "Page" . "CurrentPage" $.CurrentPage "isParent" false)}}
   </li>
   {{ end }}
   {{- end -}}
</ul>
{{- end -}}

{{ define "nav-link" }}{{/* (dict "Page" .Page "CurrentPage" .CurrentPage "parent" .isParent "isParent") */}}
{{ $current := eq .CurrentPage .Page }}
  {{ if .isParent }}
    <button class="btn btn-sm dropdown-toggle py-0 my-0" data-bs-toggle="collapse" href="#collapsible-{{ print .collapseID }}" role="button" aria-expanded="false" aria-controls="collapsible-{{ print .collapseID }}"></button>
  {{ else }}
    <button class="btn btn-sm py-0 my-0 align-top" style="width: 1.625rem;" href="{{ .Page.RelPermalink }}">&#x25cf;</button>
  {{ end }}
  <a href="{{ .Page.RelPermalink }}" class="{{ if $current }}active{{ end }} link-dark text-capitalize text-left text-decoration-none" {{ if $current }}aria-current="page"{{ end }}>
      {{ .Page.Title }}
  </a>
{{ end }}
