{{ $data := dict -}}
{{- $Site := .Site -}}
{{- $lang := $Site.Language.Lang -}}

{{ range site.RegularPages }}
    {{- /* For each page, find all internal links */ -}}
    {{- $links := findRESubmatch `href="(.*?)"` .Content -}}
    {{- $uniqueLinks := slice -}}
    {{- range $i, $link := $links -}}
        {{- $group := index $link 1 -}}
        {{- $uniqueLinks = $uniqueLinks | append $group -}}
    {{- end -}}

    {{- $linkCounts := dict -}}
    {{- range $uniqueLinks -}}
        {{- $count := index $linkCounts . | default 0 -}}
        {{- $linkCounts = merge $linkCounts (dict . (add $count 1)) -}}
    {{- end -}}

    {{ $pageLinks := slice }}
    {{ range $link, $i := $linkCounts -}}
        {{- $link = (replaceRE "^/[a-z]{2}/" "/" $link) -}}
        {{- with $Site.GetPage $link }}
            {{- $pageLinks = $pageLinks| append (dict "count" $i "title" .Title "url" .Permalink ) -}}
        {{- end -}}
    {{ end }}

    {{ $data = merge $data (dict .Permalink (dict "links" $pageLinks "title" .Title "count" 1)) -}}
{{ end -}}

{{/* Aggregate counts for target nodes */ -}}
{{/* Min count is 1 since it's used to set node size in px in network graph */}}
{{- range $key, $value := $data -}}
    {{- range $value.links -}}
        {{- $url := .url -}}
        {{- $count := .count | default 1 -}}
        {{- $target := index $data $url | default dict -}}
        {{- $targetCount := index $target "count" | default 0 -}}
        {{- $data = merge $data (dict $url (merge $target (dict "count" (add $targetCount $count)))) -}}
    {{- end -}}
{{- end -}}

{{- return $data -}}