<div id="network-graph-container" class="mt-4 p-3 bg-white rounded shadow-sm">
  <h2 class="mb-3">Network Graph</h2>
  <div id="network-graph" style="width: 100%; height: 500px;"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/cytoscape@3.33.1/dist/cytoscape.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/layout-base@2.0.1/layout-base.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cose-base@2.2.0/cose-base.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cytoscape-fcose@2.2.0/cytoscape-fcose.min.js"></script>

{{ $network := partialCached "network.html" . -}}

<script>
window.addEventListener('DOMContentLoaded', function() {
    var cy = cytoscape({
        container: document.getElementById('network-graph'),
        elements: [ // list of graph elements to start with
            { data: { id: '{{ .Permalink | md5 }}', name: '{{ strings.FirstUpper .Title }}', href: '{{ .Permalink }}', count: {{ (index $network .Permalink).count }} }, classes: "currentNode" },
            {{- template "children" (dict "Link" .Permalink "Recursion" 0 "Network" $network) -}}
            {{- template "parents" (dict "Link" .Permalink "Recursion" 0 "Network" $network) -}}
        ],
        style: [ // the stylesheet for the graph
            {
                selector: 'node',
                style: {
                    'label': 'data(name)',
                    'width': 'data(count)',
                    'height': 'data(count)',
                    "text-valign": "top",
                    "text-halign": "center",
                    "background-color": "#666",
                }
            },
            {
                selector: 'edge',
                style: {
                    'curve-style': 'straight',
                    'width': 1,
                    'line-color': '#ccc',
                    'target-arrow-color': '#ccc',
                    'target-arrow-shape': 'triangle',
                    'target-arrow-fill': 'filled',
                    'target-arrow-width': 1,
                }
            },
            {
                selector: '.currentNode',
                style: {
                    'background-color': 'rgb(13, 110, 253)',
                }
            },
            {
                selector: '.firstLevel',
                style: {
                    'background-color': '#d63384',
                }
            }
        ],

        layout: 
        {
            // For fcose layout, remove 'padding' and use fcose options
            // See https://github.com/iVis-at-Bilkent/cytoscape.js-fcose for more options
            name: 'fcose',
            quality: "proof",
            padding: 0,
            animate: true,
            randomize: false,
            packComponents: true,
            nodeOverlap: 20,
            refresh: 20,
            nodeDimensionsIncludeLabels: true,
            fit: true,
            componentSpacing: 60,
            nodeRepulsion: 60000,
            idealEdgeLength: 50,
            edgeElasticity: 0.5,
            nestingFactor: 0.1,
            gravity: 10,
            initialTemp: 200,
            coolingFactor: 0.95,
            minTemp: 1.0,
            numIter: 4000,
            startAngle: 3.14159, // optional: start at top
            clockwise: true,
            sort: undefined // keep default order
        }
    });

    cy.on('tap', 'node', function(){
    try { // your browser may block popups
        window.open( this.data('href') );
    } catch(e){ // fall back on url change
        window.location.href = this.data('href');
    }
});
});
</script>

{{- define "children" -}}{{- /* (dict "link" .Permalink "Network" $network ) */ -}}
    {{- $link := .Link -}}{{- /* Current page permalink */ -}}
    {{- $network := .Network -}}
    {{- $recursion := add .Recursion 1 -}}
    {{- if lt $recursion 3 -}} {{/* Limit recursion depth to avoid too large graphs */}}
        {{/* Find edges from page inner links to other pages */}}
        {{- with index $network $link -}}
            {{- range .links -}}
                { data: { id: "{{ .url | md5 }}", name: "{{ strings.FirstUpper .title }}", href: "{{ .url }}", count: "{{ (index $network .url).count}}"}, classes: "{{ if eq $recursion 1 }}firstLevel{{ end }}" },
                { data: { id: "{{ add ($link | md5) (.url | md5) }}", source: "{{ $link | md5 }}", target: "{{ .url | md5 }}" } },
                {{- template "children" (dict "Link" .url "Network" $network "Recursion" $recursion) -}}
                {{- template "parents" (dict "Link" .url "Network" $network "Recursion" $recursion) -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- define "parents" -}}{{- /* (dict "link" .Permalink "Network" $network ) */ -}}
    {{- $link := .Link -}}{{- /* Current page permalink */ -}}
    {{- $network := .Network -}}
    {{- $recursion := add .Recursion 1 -}}
    {{- if lt $recursion 3 -}} {{/* Limit recursion depth to avoid too large graphs */}}
        {{/* Find edges from other pages outer links to this page */}}
        {{- range $key, $value := $network -}}
            {{- if ne $key $link -}}
                {{- range $value.links -}}
                    {{- if eq .url $link -}}
                        { data: { id: "{{ $key | md5 }}", name: "{{ strings.FirstUpper $value.title }}", href: "{{ $key }}", count: "{{ $value.count }}"} },
                        { data: { id: "{{ add ($link | md5) ($key | md5) }}", source: "{{ $key | md5 }}", target: "{{ $link | md5 }}" } },
                        {{- template "parents" (dict "Link" $key "Network" $network "Recursion" $recursion) -}}
                        {{- template "children" (dict "Link" $key "Network" $network "Recursion" $recursion) -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}