<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasNav" aria-labelledby="offcanvasNav">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">{{ print .top.Title }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
  {{ partial "navigation.html" . }}
  </div>
</div>

<button class="btn btn-dark btn-sm btn-outline-light d-none d-lg-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav" aria-controls="offcanvasNav" style="position:fixed; top:calc(70px + 5.3rem); left: 0; border-top-left-radius:0; border-bottom-left-radius:0;" title="Open navigation sidebar"><i class="fas fa-stream"></i></button>
