<script src="/js/fifty-fifty.min.js?ver=1.0.0" async></script>
<script>
  window.onload = function() {
      //dom not only ready, but everything is loaded
      initComparisons();
  };
</script>
<script src="/js/bootstrap.bundle.min.js?ver=5.2.3"></script>

{{ if .Page.Store.Get "hasMermaid" }}
  <script src="/js/mermaid.min.js?ver=9.1.6"></script>
  <script>
    mermaid.initialize({ startOnLoad: true,
                         theme: "neutral",
                         securityLevel: "loose" });
  </script>
{{ end }}

{{ if .Params.latex}}
  <script>
    MathJax = {
        packages: {'[+]': ['autoload', 'require']},
        tex: {
          tags: 'all',
          inlineMath: [ ['$','$'] ],
          displayMath: [ ['$$','$$'] ],
          processEscapes: true,
          processEnvironments: true,
          processRefs: true,
        },
        svg: {
          mtextInheritFont: true,
          merrorInheritFont: true,
          mathmlSpacing: false,
          skipAttributes: {},
          exFactor: .5,
          displayAlign: 'center',
          displayIndent: '0',
          fontCache: 'global',
          localID: null,
          internalSpeechTitles: true,
          titleID: 0
        },
        options: {
          ignoreHtmlClass: 'no_math',    //  class that marks tags not to search
          processHtmlClass: 'math',  //  class that marks tags that should be searched
        }
    };
  </script>
  <script src="/js/tex-svg.js?ver=3.2.2" async></script>
{{ end }}

<script src="/js/scripts.min.js?ver=2.0.0"></script>

<script src="/js/fuse.min.js?ver=6.6.2" defer></script>
<script src="{{ "/js/search.min.js" | relURL }}" defer></script>
<script>
window.addEventListener('DOMContentLoaded', function() {
  loadJSON("{{ "/index.json" | relLangURL }}");
});
</script>
