<!--
<script src="/js/fifty-fifty.min.js?ver=1.2" async></script>
<script src="/js/bootstrap.bundle.min.js?ver=5.2.3"></script>
<script src="/js/scripts.min.js"></script>
<script src="/js/fuse.min.js?ver=6.6.2" defer></script>
<script src="{{ "/js/search.min.js" | relURL }}" defer></script>
-->

{{ $ff_js := resources.Get "js/fifty-fifty.js" }}
{{ $bt_js := resources.Get "js/bootstrap.bundle.js" }}
{{ $script := resources.Get "js/scripts.js" }}
{{ $fuse := resources.Get "js/fuse.js" }}
{{ $srch := resources.Get "js/search.js" }}
{{ $js := slice $ff_js $bt_js $script $fuse $srch | resources.Concat "js/bundle.js" | minify | fingerprint }}
<script src="{{ $js.Permalink }}" defer></script>


{{ if .Page.Store.Get "hasMermaid" }}
  {{- /* $mermaid := resources.Get "js/mermaid.min.js" }}
  <script src="{{ $mermaid.Permalink }}"></script>
  <script>
    mermaid.initialize({ startOnLoad: true,
                         theme: "neutral",
                         securityLevel: "loose" });
  </script>
  {{ */ -}}
  <script type="module" async>
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true,
                         theme: "neutral",
                         securityLevel: "loose",
                         width: "100%" });
  </script>
{{ end }}

{{ if .Params.latex}}
  <script>
    MathJax = {
        loader: {
          load: ['input/tex-base', 'output/svg', '[tex]/require', '[tex]/autoload', '[tex]/ams']
        },
        tex: {
          tags: 'all',
          linebreaks: { automatic: true },
          inlineMath: [ ['$','$'] ],
          displayMath: [ ['$$','$$'] ],
          processEscapes: true,
          processEnvironments: true,
          processRefs: true,
          autoload: {
            cases: [[], ['numcases', 'subnumcases']]
          },
          packages: {'[+]': ['autoload', 'require', 'ams']},
        },
        svg: {
          mtextInheritFont: true,
          merrorInheritFont: true,
          mathmlSpacing: false,
          skipAttributes: {},
          exFactor: .6,
          displayAlign: 'center',
          displayIndent: '0',
          fontCache: 'global',
          localID: null,
          internalSpeechTitles: true,
          titleID: 0,
          linebreaks: { automatic: true },
        },
        options: {
          ignoreHtmlClass: 'no_math',//  class that marks tags not to search
          processHtmlClass: 'math',  //  class that marks tags that should be searched
        }
    };
  </script>
  <!--<script src="/js/tex-svg.js?ver=3.2.2" async></script>-->
  <!--<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>-->
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/startup.js">
</script>
{{ end }}


<script>
  window.onload = function() {
    //dom not only ready, but everything is loaded
    initComparisons();
  };
</script>
<script>
  window.addEventListener('DOMContentLoaded', function() {
    loadJSON("{{ "/index.json" | relLangURL }}");
  });
</script>

<!-- Cal floating-popup embed code begins -->
<script type="text/javascript">
  (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; typeof namespace === "string" ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar); return; } p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
Cal("init",  {origin:"https://cal.com"});
Cal("floatingButton", {"calLink":"aurelien-pierre/emergency-ansel-support","buttonText":"Book support"});
Cal("ui", {"styles":{"branding":{"brandColor":"#000000"}},"hideEventTypeDetails":false,"layout":"month_view"});
</script>
<!-- Cal floating-popup embed code ends -->
