<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasSearch" aria-labelledby="offcanvasSearch">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasSearchLabel">Search</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="input-group flex-nowrap mb-3">
      <input id="search-query" class="form-control" onkeydown="search_results_from_keyboard()" />
      <button type="submit" onclick="search_results()" class="btn btn-sm btn-dark">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <p><em>You can also ask <a href="https://chantal.aurelienpierre.com" class="text-decoration-none">Chantal</a>, the AI search engine.</em></p>
    <div id="search-results"></div>
  </div>
</div>

<button class="btn btn-dark btn-sm btn-outline-light d-none d-lg-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvaSearch" style="position:fixed; top:calc(70px + 5.3rem); right: 0; border-top-right-radius:0; border-bottom-right-radius:0;" title="Open research sidebar"><i class="fas fa-search"></i></button>

<template id="search-result-template">
  <div class="border-bottom mb-3 border-secondary">
    <h6 class="text-capitalize">
      <a href="(url)" class="text-decoration-none">(title)</a>
      <span class="text-muted float-end" title="Matching score">(score)</span>
    </h6>
    <p><span class="float-start text-muted text-capitalize" style="margin-right: 0.25rem;">(section) •</span>(summary)</p>
    <div class="clearfix"></div>
  </div>
</template>
