<nav id="sections" class="card my-1">
  <div class="card-header" id="headingSections">
    <div class="fs-5">
      In this section
      <button class="btn btn-outline-secondary btn-sm float-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSectionsBody" aria-expanded="true" aria-controls="collapseSectionsBody" title="Collapse">
        <i class="fas fa-chevron-down fs-6 align-middle"></i>
      </button>
    </div>
  </div>
  <div class="collapse show" aria-labelledby="headingSections" id="collapseSectionsBody">
    <div class="card-body">
      {{- partial "navigation.html" (dict "top" . "current" . "includeTop" true) -}}
    </div>
  </div>
</nav>
